<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">
    <title>Doodle.toi</title>
    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/board.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({
            // For google fonts
            google: {
                families: ['Droid Serif']
            },
            // For early access or custom font
            custom: {
                families: ['Nanum Gothic'],
                urls: ['https://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
        });
    </script>
</head>
<body>

<div id="board_page_container" class="container">
    <div class="row">
        <div class="board-item col-xs-2" data-position="00">00</div>
        <div class="board-item col-xs-2" data-position="01">01</div>
        <div class="board-item col-xs-2" data-position="02">02</div>
        <div class="board-item col-xs-2" data-position="03">03</div>
        <div class="board-item col-xs-2" data-position="04">04</div>
        <div class="board-item col-xs-2" data-position="05">05</div>
    </div>
    <div class="row">
        <div class="board-item col-xs-2" data-position="10">10</div>
        <div class="board-item col-xs-2" data-position="11">11</div>
        <div class="board-item col-xs-2" data-position="12">12</div>
        <div class="board-item col-xs-2" data-position="13">13</div>
        <div class="board-item col-xs-2" data-position="14">14</div>
        <div class="board-item col-xs-2" data-position="15">15</div>
    </div>
    <div class="row">
        <div class="board-item col-xs-2" data-position="20"></div>
        <div class="board-item col-xs-2" data-position="21"></div>
        <div class="board-item col-xs-2" data-position="22"></div>
        <div class="board-item col-xs-2" data-position="23"></div>
        <div class="board-item col-xs-2" data-position="24"></div>
        <div class="board-item col-xs-2" data-position="25"></div>
    </div>
    <div class="row">
        <div class="board-item col-xs-2" data-position="30"></div>
        <div class="board-item col-xs-2" data-position="31"></div>
        <div class="board-item col-xs-2" data-position="32"></div>
        <div class="board-item col-xs-2" data-position="33"></div>
        <div class="board-item col-xs-2" data-position="34"></div>
        <div class="board-item col-xs-2" data-position="35"></div>
    </div>
    <div class="row">
        <div class="board-item col-xs-2" data-position="40"></div>
        <div class="board-item col-xs-2" data-position="41"></div>
        <div class="board-item col-xs-2" data-position="42"></div>
        <div class="board-item col-xs-2" data-position="43"></div>
        <div class="board-item col-xs-2" data-position="44"></div>
        <div class="board-item col-xs-2" data-position="45"></div>
    </div>
    <div class="row">
        <div class="board-item col-xs-2" data-position="50"></div>
        <div class="board-item col-xs-2" data-position="51"></div>
        <div class="board-item col-xs-2" data-position="52"></div>
        <div class="board-item col-xs-2" data-position="53"></div>
        <div class="board-item col-xs-2" data-position="54"></div>
        <div class="board-item col-xs-2" data-position="55"></div>
    </div>
</div>

<script type="text/javascript" src="/components/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/board.js" charset="utf-8"></script>
</body>
</html>