body {
    width: 100%;
    height: 100%;
    font-family: "Nanum Gothic", sans-serif;
    background-image: url("/images/board_background.png");
    background-size: cover;
}

#board_page_container {
    width: 200%;
    padding: 0px;
}

.row {
    height: 120px;
}

.board-item {
    height: 120px;
    padding: 0px;
}

.board-item textarea {
    color: black;
    width: 100%;
    height: 120px;
    margin: 0px;
    border: none;
    outline: none;
    resize: none;
    padding: 5px 5px 5px 20px;
    background-color: transparent;
}

.board-item textarea.disabled {
    color: black;
}