body {
  padding: 30px;
  font-family: sans-serif, "Nanum Gothic";
  width: 100%;
  height: 100%;
  background-image: url("/images/splash_background.png");
  background-size: cover;

}

a {
  color: #00B7FF;
}

.main-title {
  margin-top: 45%;
  font-size: 60px;
  color: white;
}

.subtitle-box {
  margin-top: 20%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  color: #BFC3C9;
  border: 1px solid white;
}

.loading-icon {
  color: #4A5876;
  font-size: 15px;
  margin-top: 50%;
}

.loading-icon .loading-image img {
  height: 80px;
}

.login-box {
  margin-top: 40%;
}

.login-btn > img {
  width: 80%;
  margin: 8px 0px;
}


.logo-image > img {
  width: 90%;
}

.location-loading-image {
  margin-top: 15%;
}

.location-loading-image > img {
  width: 100%;
}